* {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header header"
    "sidebar main main"
    "footer footer footer";
}

header {
  grid-area: header;
  height: 9em;
  display: flex;
  align-items: center;
  gap: 15%;
  background-color: rgb(0, 0, 34);
}

.logo img {
  height: auto;
  width: 200px;
  margin-left: 2em;
  border: 1px solid rgb(41, 40, 109);
}

.header-titulo {
  padding: 10px;
}

header h1 {
  text-align: center;
}

aside {
  grid-area: sidebar;
  background-color: rgb(214, 214, 214);
  color: black;
}

aside h2 {
  text-align: center;
  padding: 10px;
}

aside li {
  padding: 3px 20px;
}

.suave {
  color: rgb(116, 115, 115);
}

main {
  grid-area: main;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.producto {
  border: 1px solid black;
  overflow: hidden;
}

.producto img {
  width: 100%;
  border-bottom: 1px solid black;
}

.producto p {
  padding-top: 3px;
  padding-bottom: 3px;
}

.comprar {
  background-color: darkblue;
  color: white;
}

footer {
  grid-area: footer;
  height: 4em;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
